.container-fluid {
    display: flex;
    list-style-type: none;
    margin-left: 120px;
    padding: 0;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.1);
    overflow: hidden;  
    
    
    
} 


.navbar-nav{
   
    display: flex;
    list-style-type: none;
    margin-left: 0px;    
    overflow: hidden;
    padding-top: 0;
    

}

.nav-item{

   display: flex;
   color: gray;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

}

.nav-link:hover{
    background-color:burlywood;
}
a{
    color: black;
   text-decoration: none; 
}

.navbar-toggler-icon:hover{

    background-color:aliceblue;
    
}

.active{
     float: right;
}

.btn btn-default btn-sm{
    float: left;
    padding-right: 0%;
}

.navbar-toggler-icon{

    margin: 25px;
    background-color: transparent;
}

.navbar{

    display: inline;
}

.navbar-toggler{

    height: 82px;
    width: 150px;
    background-color: transparent;
    border-color: transparent;
}

.nav-item2{
     
    padding-top: 25px;
    margin-left: 530px ;
    justify-content: space-between;
}

.nav-item3 {

    margin-left: 25px;
}