.container-fluid {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    overflow: hidden;  
    
    
    
} 


.navbar-nav{
   
    display: flex;
    list-style-type: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    

}

.nav-item{

   display: flex;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

}

.nav-link:hover{
    background-color:burlywood;
}
a{
    color: black;
   text-decoration: none; 
}

.navbar-toggler-icon:hover{

    background-color:aliceblue;
    
}

.active{
     float: right;
}

.btn btn-default btn-sm{
    float: left;
    padding-right: 0%;
}