.flex {
  margin-left: 10px;
display: flex;
flex-direction: column;
width: 290px;
height: 256px;
background-color: transparent;
box-sizing: content-box;


}


.bottom{

  position: relative;
  justify-content: center;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20;
  
}

.smallbox{

 
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 background-color: transparent;

}


.boxbox{

  
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20;
  background-color: transparent;

}

.img {

  display: flex;
  float: left;
  color: black;
  width: 35px;
  padding: 0;
  

}

.butt{

  background-color: transparent;
  border-color: transparent;
}