.flex {
  margin-left: 90px;
display: flex;
flex-direction: column;
width: 290px;
height: 256px;
border-radius: 25%;
box-sizing: content-box;



}

.img2 :hover{

  background-color: coral;
  border-color: brown;
}


.bottom{

  position: relative;
  justify-content: center;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20;
  
}

.smallbox{

 
  display: flex;
  color: black;
  text-align: center;
  
  text-decoration: none;
 background-color: transparent;

}


.boxbox{

  
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20;
  background-color: transparent;

}

.img {

  display: flex;
  float: left;
  color: black;
  width: 35px;
  padding: 0;
  height: 70px;
  width: 70px;
  border-radius: 10%;

}

.img2{

  border-radius: 5%;
}

.butt{

  background-color: transparent;
  border-radius: 5%;
  border-color: transparent;

}


.butt:hover{

  background-color: lightsalmon;
  box-shadow: lightsalmon;
  border-color: brown;
}

.nav-items2{

  margin-left:100% ;
}

