.flex {
  margin-left: 41px;
display: flex;
flex-direction: column;
width: 330px;
height: 290px;
border-radius: 25%;
box-sizing: content-box;



}

.img2 :hover{

  background-color: coral;
  border-color: brown;
}


.bottom{

  position: relative;
  justify-content: center;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 2.22rem;
  margin-top: 185px;
  
  
}

.smallbox{

 
  display: flex;
  color: black;
  text-align: center;
  width:95px;
  text-decoration: none;
 background-color: transparent;

}


.boxbox{

  
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20;
  background-color: transparent;

}

.img {

  display: flex;
  float: left;
  color: black;
  width: 65px;
  padding: 0;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  

}

.img2{
   
  border-radius: 5%;
  height: 600px;
  width:500px ;


}

.butt{

  background-color: transparent;
  border-radius: 5%;
  border-color: transparent;

}


.butt:hover{

  background-color: lightsalmon;
  box-shadow: lightsalmon;
  border-color: brown;
}

.nav-items2{

  margin-left:100% ;
}

